@model Vidly.Models.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var className = Model.Customers.Count > 0 ? "Popular" : null;
}
@*
    This is a comment    

*@
<h2 class="@className">@Model.Movie.Name</h2>
@if (Model.Customers.Count == 0)
{
    <text>No One rented thsi movie before</text>
}
else
{
<ul>
@foreach (var customer in Model.Customers)
{
    <li>@customer.Name</li>
}
</ul>
}
